#registry "https://registry.npmmirror.com"
registry "http://mirrors.cloud.tencent.com/npm"
#"@antora:*" "https://registry.yarnpkg.com"
#"@antora/cli" "https://registry.yarnpkg.com"
#"@antora/site-generator" "https://registry.yarnpkg.com"